{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
      <main >

          <div class="row">

            <div class="col-md-4 form-group">
              <form class="" action="#" method="post">
                <h3><strong>Edit Item</strong></h3>
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" value="{{item.name}}">
                <label for="description">Description</label>
                <input type="text" class="form-control" name="description" value="{{item.description}}">
                <label for="catg">Catagory</label>

                <select class="form-control" name="catg" >
                  {% for sports in menu %}
                  <option value="{{sports.id}}" {% if select_sport.name == sports.name %} selected {% endif %}>{{sports.name}}</option>
                  {% endfor %}
                </select>
                <br>
                <button type="submit" class="btn btn-default" >Submit</button>

              </form>

            </div>

          </div>


      </main>
{% endblock %}
